@use '@/app/_variables.sass' as *

.action_btn
  display: flex
  flex-direction: column
  background: transparent
  border: none
  cursor: pointer

  .icon
    font-size: 2.5rem
    color: $sub_green

    &.fill
      font-variation-settings: 'FILL' 1

  .value
    color: $white
