@use '@/app/_variables.sass' as *

.service_intro
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 8px

.eyebrow
  color: $green

.title
  color: $black

.description
  color: $gray
