@use '@/app/_variables.sass' as *

.tab
  width: fit-content
  padding: 0.625rem 1.25rem
  background: $gray
  border: none
  border-radius: 10px 10px 0 0

  .icon
    font-variation-settings: 'FILL' 1
    font-size: 2rem