@use '@/app/_variables.sass' as *

.item
  box-sizing: border-box
  display: flex
  align-items: center
  gap: 8px
  width: 100%
  padding: 8px 16px
  background: $white
  border-radius: 10px
  box-shadow: 0 1px 0.75px rgba(0, 0, 0, 0.1)

.number
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: 30px
  height: 30px
  color: $white
  background: $green
  border: 1px solid $stroke2
  border-radius: 7px

.text
  display: flex
  flex-direction: column

.title
  color: $black

.description
  color: $gray
