@use '../../globals.sass' as *

.action_btn
  display: inline-flex
  align-items: center
  gap: 4px
  background: transparent
  border: none
  padding: 0
  cursor: pointer
  color: $black
  
  .icon.active
      font-variation-settings: 'FILL' 1