@use '@/app/_variables.sass' as *

.bookmark_btn
  width: fit-content  
  background: transparent
  border: none
  padding: 0
  cursor: pointer
  color: $gray
  transition: color 0.2s ease, font-variation-settings 0.2s ease

  &.is_active
    color: $amber
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24

  &.small
    font-size: 32px

  &.medium
    font-size: 52px

  &.large
    font-size: 91px