@use '../../globals.sass' as *

.tag
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 16px
  border-radius: 999px

  &.green
    background-color: $sub_green
    color: $green
    border: 1px solid $green