@use '@/app/_variables.sass' as *

.feature_card
  display: flex
  flex-direction: column
  gap: 5px

  box-sizing: border-box
  width: 100%
  padding: 20px

  background: $white
  border: 1px solid $stroke
  border-radius: 15px

  h3
    margin: 0
    color: $green

  p
    margin: 0
    color: $black