@use '@/app/_variables.sass' as *

.item
  display: flex
  align-items: center
  gap: 8px
  padding: 8px 16px
  background: $white
  border-radius: 10px
  box-shadow: 0 1px 0.75px rgba(0, 0, 0, 0.1)

.badge
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: 30px
  height: 30px
  color: $white
  background: $amber
  border: 1px solid #ffe8c4
  border-radius: 7px

.question
  color: $black
