@use '@/app/_variables.sass' as *

.action_btn
  display: inline-flex
  align-items: center
  gap: 0.125rem
  padding: 0
  border: none
  background: transparent
  color: $black
  cursor: pointer

.icon
  font-variation-settings: 'FILL' 0

  &.active
    font-variation-settings: 'FILL' 1