@use "../_variables" as *

.interview_page
  width: 100%

.hero_section
  display: flex
  justify-content: space-between
  align-items: center
  padding: 40px
  gap: 30px
  background: $light_green

.hero_left
  flex: 1
  max-width: 644px
  display: flex
  flex-direction: column
  gap: 30px

.hero_title
  display: flex
  flex-direction: column
  gap: 10px

  span
    display: block
    color: $gray

  h1
    color: $black

    strong
      color: $green

.hero_cards
  display: flex
  flex-direction: column
  gap: 10px

.hero_right
  flex: 1
  display: flex
  justify-content: center
  align-items: center

  img
    width: 100%
    max-width: 560px
    height: auto