@import '../../globals.sass'

.tag
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 16px
  border-radius: 999px
  @include font_body_s_b

  &.green
    background-color: $sub_green
    color: $green
    border: 1px solid $green