@use '@/app/_variables.sass' as *

.info
  display: flex
  align-items: flex-start
  gap: 44px
  box-sizing: border-box
  padding: 30px
  background-color: $white
  border: 1px solid $stroke2
  border-radius: 10px

.info_main
  display: flex
  flex-direction: column
  flex: 1
  min-width: 0
  gap: 50px

.info_side
  display: flex
  flex-direction: column
  flex-shrink: 0
  gap: 40px
  box-sizing: border-box
  width: 313px
  padding-left: 44px
  border-left: 1px solid $stroke3

.info_state
  padding: 80px 0
  text-align: center
  color: $gray
