@use '@/app/_variables.sass' as *

.sort_btn
  display: flex
  align-items: center
  padding: 0.25rem 1rem
  border: none
  border-radius: 999px
  cursor: pointer
  color: $gray
  background: $white

.option_list
  display: none
  border-radius: 10px
  position: absolute
  z-index: 20
  margin-top: 0.25rem
  transition: translateY(0.5rem)
  border: solid 1px $stroke3
  padding: 0.5rem
  background: $white

  & .option
    display: flex
    align-items: center
    border-radius: 999px
    cursor: pointer
    color: $gray
    padding: 0.5rem
  
  &.is_open
    display: flex
    flex-direction: column

.sort_btn:hover,
.sort_btn.active,
.option_list > .option:hover
  color: $green
  background: $sub_green
 