@use '@/app/_variables.sass' as *

.step_card
  display: flex
  align-items: center
  justify-content: space-between
  gap: 16px
  box-sizing: border-box
  height: 96px
  padding: 22px 24px
  background-color: $white
  border: 1px solid $stroke3
  border-radius: 16px

  .step_card_main
    display: flex
    align-items: center
    gap: 15px

  .step_card_icon
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    width: 50px
    height: 50px
    font-size: 20px
    line-height: 24px
    border-radius: 8px

  .step_card_body
    display: flex
    flex-direction: column
    width: 188px

  .step_card_title
    color: $black

  .step_card_desc
    color: $gray

  .step_card_check
    flex-shrink: 0
    font-size: 32px
    font-weight: 300
    color: $green

  &.step_card_active
    border-color: $green

    .step_card_check
      font-size: 26px
      font-variation-settings: 'FILL' 1

// 단계별 색
.step_card_green
  .step_card_step
    color: $green

  .step_card_icon
    background-color: $sub_green

.step_card_blue
  .step_card_step
    color: #4163E7

  .step_card_icon
    background-color: #DFE9FD

.step_card_purple
  .step_card_step
    color: #703FE8

  .step_card_icon
    background-color: #EBE8FD
