@use '@/app/_variables' as *

.bubble
  display: flex
  align-self: flex-end
  padding: 1rem
  width: fit-content
  max-width: 80%
  background: $light_yellow
  word-break: break-word
  white-space: pre-wrap
  border-radius: 15px 0 15px 15px