@use '@/app/_variables.sass' as *

.interview_page
  width: 100%
  height: calc(100vh - 90px)
  padding: 20px 0
  box-sizing: border-box
  display: flex
  align-items: stretch
  justify-content: center

.chat_layout
  display: flex
  align-items: stretch
  justify-content: center
  gap: 50px
  height: 100%

.chat_container
  width: 990px
  height: 100%
  padding: 20px
  box-sizing: border-box
  display: flex
  flex-direction: column
  gap: 10px
  background: $light_green
  border-radius: 12px

.chat_header
  display: flex
  align-items: center
  justify-content: space-between
  height: 45px
  flex-shrink: 0

.exit_button
  display: flex
  align-items: center
  gap: 6px
  padding: 0
  border: 0
  background: transparent
  color: $black
  cursor: pointer

.chat_content
  flex: 1
  padding: 35px 25px
  overflow-y: auto

.option_panel
  width: 400px
  height: 100%
  display: flex
  flex-direction: column
  gap: 20px
  min-height: 0

  h2
    margin: 0
    color: $black