.container
  --contents-padding: 7.625rem

  max-height: 100vh
  padding: 0 7.625rem
  overflow-y: auto

  .contents
    display: flex
    flex-direction: column
    align-items: center
    padding: 4rem 0
