@use '@/app/_variables' as *

.upload_btn
  display: flex
  align-items: center
  gap: 0.3125rem
  padding: 0.625rem 0 0.6875rem 0.625rem
  width: 100%
  height: fit-content
  background: $white
  border: solid 2px $green
  border-radius: 5px

  &:disabled
    opacity: .35
    cursor: default
    pointer-events: none
  
  .icon
    color: $green
    &.fill
      font-variation-settings: 'FILL' 1
  
  .text
    color: $black

  &:hover
    box-shadow: 2px 4px 8px rgba(0, 166, 61, 0.5)
    background: $sub_green

  &.wide
    grid-column: span 2
