@use '@/app/_variables' as *

.message
  position: absolute
  top: 2rem
  left: 50%
  padding: 1rem 1.5rem
  border-radius: 999px
  z-index: 10
  color: $white
  background: $black
  transform: translate(-50%, 8px)
  transition: opacity 0.25s ease, transform 0.25s ease

  &.visible
    transform: translateY(0)