@use '@/app/_variables' as *

.back_btn
  display: flex
  align-items: center
  gap: 0.5rem
  padding: 0.5rem 1rem
  border: none
  cursor: pointer
  background: none
  border-radius: 999px

  &:hover
    color: $stroke1
    background: $white