@use '@/app/_variables.sass' as *

.document_option
  width: 100%
  height: 160px
  padding: 15px
  box-sizing: border-box
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: 10px
  border-radius: 10px
  overflow: hidden

  &.resume
    background: $light_yellow

  &.cover_letter
    background: $light_purple

.option_header
  display: flex
  align-items: center

  h3
    margin: 0
    color: $black

.option_list
  width: 100%
  flex: 1
  min-height: 0
  margin: 0
  padding: 0 5px 0 0
  box-sizing: border-box
  list-style: none
  display: flex
  flex-direction: column
  gap: 5px
  overflow-y: auto

  &::-webkit-scrollbar
    width: 4px

  &::-webkit-scrollbar-track
    background: transparent

  &::-webkit-scrollbar-thumb
    border-radius: 4px

.resume .option_list::-webkit-scrollbar-thumb
  background: $amber

.cover_letter .option_list::-webkit-scrollbar-thumb
  background: $purple