@use '@/app/_variables.sass' as *

.feedback_button
  width: 230px
  height: 60px
  padding: 0
  box-sizing: border-box
  border: 1px solid $green
  border-radius: 10px
  background: $white
  color: $green
  cursor: pointer