@use '@/app/_variables.sass' as *

.page

  .container
    display: flex
    flex-direction: column
    gap: 6rem
    padding: 0 0 4rem 0

  .hero
    padding-top: 5rem
    background: $light_green

    .swiper_slider
      padding-bottom: 1.5rem

      :global(.swiper-scrollbar)
        bottom: 0

      :global(.swiper-scrollbar-drag)
        background-color: $green

.gallery
  display: flex
  flex-direction: column
  gap: 2.5rem
  border-radius: 20px

  header
    position: sticky
    top: 84px
    display: flex
    justify-content: space-between
    padding: 1rem 1rem
    z-index: 10
    box-shadow: 0 0px 4px rgba(0,0,0,.1)
    border-radius: 20px 20px 0 0
    background-color: $light_green

    @media (max-width: 1279px)
      top: 65px

    .radio_btns
      display: flex
      gap: 1rem

  .item_list
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2rem 1.5rem
    margin: 0
    padding: 0
    list-style: none

  .load_more
    width: 100%
    height: 1px

  .footer
    width: 100%
    height: 64px
    box-shadow: 0 0px 4px rgba(0,0,0,.1)
    border-radius: 0 0 20px 20px 
    background: $light_green
