@use '@/app/_variables.sass' as *

.page

  .container
    display: flex
    flex-direction: column
    gap: 4rem
    padding: 0 0 4rem 0

  .hero
    padding-top: 5rem
    background: $light_green
    .swiper_slider 
      padding-bottom: 1.5rem
      
      :global(.swiper-scrollbar)
        bottom: 0
      
      :global(.swiper-scrollbar-drag)
        background-color: $green

.gallery
  display: flex
  flex-direction: column
  gap: 1.5rem

  .btns_wrapper
    display: flex
    justify-content: space-between

    .radio_btns
      display: flex
      gap: 1rem
      
  .item_list
    list-style: none
    padding: 0
    margin: 0
    display: grid
    grid-template-columns: repeat(4, 1fr)
    gap: 2rem 1.5rem