@use '@/app/_mixin.sass' as *

@font-face
  font-family: 'Material Symbols Outlined'
  font-style: normal
  font-weight: 100 700
  font-display: block
  src: url('/fonts/material-symbols-outlined-subset.woff2') format('woff2')

@font-face
  font-family: 'Material Symbols Rounded'
  font-style: normal
  font-weight: 100 700
  font-display: block
  src: url('/fonts/material-symbols-rounded-subset.woff2') format('woff2')

@font-face
  font-family: 'Material Symbols Sharp'
  font-style: normal
  font-weight: 100 700
  font-display: block
  src: url('/fonts/material-symbols-sharp-subset.woff2') format('woff2')

.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased
  font-feature-settings: 'liga'

.material-symbols-outlined
  font-family: 'Material Symbols Outlined'

.material-symbols-rounded
  font-family: 'Material Symbols Rounded'

.material-symbols-sharp
  font-family: 'Material Symbols Sharp'

:root
  --font-pretendard: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif

// Layout //
.container
  // 1. 기본 데스크톱 스타일 (1440px 고정/중앙 정렬)
  width: 1440px
  margin: 0 auto

  // 2. 태블릿 구간 (1440px 미만 ~ 769px)
  @media (max-width: 1439px)
    width: 100%
    padding: 0 24px
    box-sizing: border-box

  // 3. 모바일 구간 (768px 이하)
  @media (max-width: 768px)
    width: 100%
    padding: 0 16px
    box-sizing: border-box
  
// Typography Variables
.font_title
  +setFont(64px, 76px, 700)

.font_subtitle
  +setFont(46px, 56px, 700)

.font_h1
  +setFont(36px, 48px, 700)

.font_h2
  +setFont(28px, 36px, 700)

.font_h3
  +setFont(24px, 32px, 700)

.font_h4
  +setFont(20px, 24px, 700)

.font_body_l_b
  +setFont(18px, 24px, 700)

.font_body_l_r
  +setFont(18px, 24px)

.font_body_m_b
  +setFont(16px, 20px, 600)

.font_body_m_r
  +setFont(16px, 20px)

.font_body_s_b
  +setFont(14px, 16px, 600)

.font_body_s_r
  +setFont(14px, 16px)

.font_caption_b
  +setFont(12px, 16px, 600)

.font_caption_r
  +setFont(12px, 16px)

  // Typography Variables
