@use '@/app/_variables.sass' as *

.overlay
  position: fixed
  inset: 0
  z-index: 50
  display: flex
  flex-direction: column
  justify-content: end
  align-items: center
  padding: 4rem 4rem 0 4rem

  .backdrop
    position: fixed
    inset: 0
    background-color: rgba(0, 0, 0, .6)
    backdrop-filter: blur(4px)

  .modalBox
    position: relative
    z-index: 10
    display: flex
    gap: 1.5rem
    height: 100%

    .contents_wrapper
      display: flex
      flex-direction: column
      padding-top: 5rem
      width: 100%

      .tab_header
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%

        .edit_btn
          flex-shrink: 0
          padding: .5rem 1rem
          border: none
          border-radius: 5px
          background: $black
          color: $white
          cursor: pointer
          transition: .2s

          &:hover
            background: rgba(255, 255, 255, .05)

    .close_btn
      padding: 8px
      color: $gray