@use '@/app/_variables.sass' as *

.ai_chat_bubble
  display: flex
  align-items: flex-start
  gap: 10px
  padding: 10px

.ai_profile
  width: 80px
  height: 80px
  flex-shrink: 0
  overflow: visible

  img
    width: 80px
    height: auto
    object-fit: contain
    
.message_content
  display: flex
  flex-direction: column
  gap: 10px

.ai_name
  color: $amber

.message_row
  display: flex
  align-items: flex-end
  gap: 10px

.message_bubble
  width: 580px
  padding: 10px 20px
  box-sizing: border-box
  background: $white
  border: 1px solid $stroke3
  border-radius: 15px
  color: $black

.message_text
  white-space: pre-line

.message_time
  color: $gray
  white-space: nowrap
