@use '@/app/_variables.sass' as *

.header
  display: flex
  align-items: center
  gap: 10px
  width: 100%

.icon
  display: flex
  align-items: center
  justify-content: center
  flex-shrink: 0
  width: 36px
  height: 36px
  color: $white
  border-radius: 14px
  font-size: 18px

.tone_green
  background: $green

.tone_amber
  background: $amber

.tone_purple
  background: $purple

.text
  display: flex
  flex-direction: column

.title
  color: $black

.description
  color: $gray
