@use '@/app/_variables.sass' as *

.primary_btn
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 11px 16px
  color: $white
  background-color: $green
  border: 0
  border-radius: 5px
  cursor: pointer
