@use '@/app/_variables.sass' as *

.intro
  display: flex
  align-items: center
  justify-content: space-between
  gap: 20px
  box-sizing: border-box
  padding: 10px 0 10px 30px
  background-color: $light_gray
  border-radius: 5px
  overflow: hidden

.intro_text
  display: flex
  flex-direction: column
  justify-content: center
  gap: 10px
  color: $black

.intro_image
  flex-shrink: 0
  width: 200px
  height: 139px
  object-fit: cover
