@use "../../../_variables" as *

.core_feature_card
  display: flex
  justify-content: space-between
  align-items: center
  box-sizing: border-box
  width: 100%
  min-height: 260px
  padding: 50px

  border-radius: 12px

.feature_content
  display: flex
  flex-direction: column
  gap: 25px

.feature_list
  display: flex
  flex-direction: column
  gap: 24px
  margin: 0
  padding: 0
  list-style: none
  color: $gray

  li
    display: flex
    align-items: center
    gap: 8px

.feature_check_icon
  font-size: 16px

.feature_image
  flex-shrink: 0
  width: 280px

  img
    width: 100%
    height: auto

.green
  background: $light_green

  .feature_title
    color: $green

  .feature_check_icon
    color: $green

.yellow
  background: $light_yellow

  .feature_title
    color: $amber

  .feature_check_icon
    color: $amber
