@use '@/app/_variables' as *

.workspace
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 4fr 1fr
  gap: 1.5rem
  padding: 4rem 3.5rem
  
  .add_btns
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 8px 10px
    width: 100%
    height: fit-content

  .btns_wrapper
    position: sticky
    display: grid
    grid-template-columns: repeat(1fr, 2)
    gap: 1.5rem
    padding: 7rem 0 0
  
  .save_btns
    display: flex
    gap: 10px