@use '@/app/_variables' as *

.tag
  display: flex
  justify-content: center
  align-items: center
  padding: 4px 0px 4px 8px
  width: fit-content
  color: $brown
  background: $sub_yellow
  border-radius: 20px
    
  button
    color: $brown
    background: none
    border: none
    font-size: 14px
    cursor: pointer