@use '@/app/_variables.sass' as *

.retry_button
  width: 230px
  height: 60px
  padding: 0
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid $green
  border-radius: 10px
  background: $green
  color: $white
  cursor: pointer