@use "../../../_variables" as *

.faq_item
  border-bottom: 1px solid $stroke3

.faq_header
  width: 100%
  height: 72px

  display: flex
  justify-content: space-between
  align-items: center

  background: none
  border: none
  cursor: pointer

.faq_left
  display: flex
  align-items: center
  gap: 16px

.question_mark
  color: $green
  font-weight: 700

.faq_answer
  padding: 16px
  background: $sub_green
  color: $black