@use '@/app/_variables.sass' as *

.field
  display: flex
  flex-direction: column
  gap: 10px
  width: 100%

.field_inline
  flex-direction: row
  align-items: center
  gap: 20px
  width: auto

.field_label
  color: $black
