@use '@/app/_variables.sass' as *

.hero_stat
  display: flex
  flex-direction: column
  gap: 4px

  .hero_stat_value
    color: $black

  .hero_stat_value_accent
    color: $green

  .hero_stat_label
    color: $gray
