@use '@/app/_variables.sass' as *

.hero_stat
  display: flex
  flex-direction: column

  .hero_stat_value
    color: $black

  .hero_stat_value_green
    color: $green

  .hero_stat_value_amber
    color: $amber

  .hero_stat_label
    color: $gray
